html {
    background-color: black;
}

h1 {
    text-transform: uppercase;
}

div {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    
    width: 50%;
    margin-left: 25%;
    text-align: center;

}

img {
    border: 5px solid white;
    width: 100%;
    margin-top: 150px;
}